

#area {
    font: normal 20px arial;
    background: rgb(44, 160, 44);
    color: white;
    width: 180px;
    height: 170px;
    text-align: center;
    line-height: 170px;
    margin-left: 300px;
}